.card-contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 16px;
  overflow: hidden;
}

.full-width-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
