<mat-card class="card-contenedor mat-elevation-z4">

  <mat-card-header>
    <mat-card-title>
      <h2 style="margin: 0;">📚 Lista de Cursos</h2>
    </mat-card-title>
    <mat-card-subtitle style="font-style: italic;">Administración de cursos registrados</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <div style="text-align: right; margin-bottom: 20px;">
      <button mat-raised-button color="primary" (click)="nuevo()">
        <mat-icon>add</mat-icon>
        Nuevo Curso
      </button>
    </div>

    <table mat-table [dataSource]="listaCursos" class="mat-elevation-z2 full-width-table">

      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Descripción -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="editar(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminar(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </mat-card-content>
</mat-card>
